body {
    background-color: blue;
    color: white;
    font-family: monospace;
    text-align: center;
}

#game-container {
    display: inline-block;
    margin-top: 20px;
}

canvas {
    border: 2px solid cyan;
    background-color: red;
}

#info {
    margin-top: 10px;
    font-size: 18px;
}

#title {
    font-size: 24px;
    margin: 10px;
}

#game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: red;
    display: none;
}